@model NewAgeClm.Models.ViewModel.ProjectAttributesViewModel

@{
	ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">
	Create new project
</h2>

<form method="post" asp-action="Create">
	<!--for file upload use enctype="multipart/form-data"-->
	<div class="p-4 border rounded">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="Projects.Name"></label>
			</div>
			<div class="col-5">
				<input asp-for="Projects.Name" class="form-control" />
			</div>
			<span asp-validation-for="Projects.Name" class="text-danger"></span>
		</div>
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="Projects.Key"></label>
			</div>
			<div class="col-5">
				<input asp-for="Projects.Key" class="form-control" />
			</div>
			<span asp-validation-for="Projects.Key" class="text-danger"></span>
		</div>
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="Projects.ProjectLead"></label>
			</div>
			<div class="col-5">
				<input asp-for="Projects.ProjectLead" class="form-control" />
			</div>
			<span asp-validation-for="Projects.ProjectLead" class="text-danger"></span>
		</div>
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="Projects.Reporter"></label>
			</div>
			<div class="col-5">
				<input asp-for="Projects.Reporter" class="form-control" />
			</div>
			<span asp-validation-for="Projects.Reporter" class="text-danger"></span>
		</div>
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="Projects.Description"></label>
			</div>
			<div class="col-5">
				<textarea asp-for="Projects.Description" class="form-control"></textarea>
			</div>
			<span asp-validation-for="Projects.Description" class="text-danger"></span>
		</div>
		<br />
		<!--add two buttons-->
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Create" />
			<a asp-action="Index" asp-area="Admin" class="btn btn-success">Back to List</a>
		</div>
	</div>
</form>

@section Scripts{
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}