@model IEnumerable<NewAgeClm.Models.ProjectTypes>

@{
	ViewData["Title"] = "Project types";
}
<br />
@{ControllerWIthId controller = new ControllerWIthId();}
<div class="row">
	<div class="col-6">
		<h2 class="text-info">Project types</h2>
	</div>
	<div class="col-6 text-right">
		<a asp-action="Create" class="btn btn-info">&nbsp; New project type</a>
	</div>
</div>

<br />
<div>
	<table class="table table-striped border">
		<tr class="table-info">
			<th>
				@Html.DisplayNameFor(m => m.Name) <!--Html helper-->
			</th>
			<th></th>
			<th></th>
		</tr>
		@{ controller.ControllerName = "ProjectTypes";}
		@foreach (var type in Model)
		{
			controller.Id = type.Id;
			<tr>
				<td>
					@Html.DisplayFor(m => type.Name)
				</td>
				<td>
					<partial name="_TableButtonsWithControllerPartial" model="controller" />
				</td>
			</tr>
		}
	</table>
</div>

